* {
  color: #3f4c4e;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  margin: 0;
}

body {
  margin: 0;
  position: relative;
}

.navMenu {
  font-size: 18px;
  position: relative;
}

.backdrop {
  overflow: hidden;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.hero {
  background-image: url('../res/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin-top: 50px;
}

.hero-content {
  width: 100%;
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.hero-content blockquote {
  width: 60%;
}

.hero-content h1 {
  /* color: #FFFFFF; */
}

blockquote footer {
  text-align: end;
  font-size: 22px;
  /* color: #FFFFFF; */
}

.meet {
  display: flex;
  background-color: #EDEAE5;
  padding: 30px;

}




.profile {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.profilePhoto {
  width: 100%;
  max-width: 450px;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
  border-radius: 25px;
}

.bio {
  flex: 1 0 auto;
  margin: 20px;
  max-width: 50%;
}

.bio .bioSubtitle {
  text-align: center;
}

.bio p {
  word-wrap: break-word;
  /* padding: 0px 30px; */
}

@media screen and (max-width: 400px) {
  .meet {
    flex-direction: column;
  }

  .bio,
  .profile {
    width: 100%;
    max-width: 100%;
  }
}

.practiceAreas {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 30px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16);
}



.practiceAreas .areas {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  align-items: space-between;
  justify-content: center;
}

.practiceAreas .areas>.area {
  display: flex;
  flex: 1 0 290px;
  max-width: 290px;
  height: 320px;
  background: #F7F7F7;
  border-radius: 2px;
  flex-direction: column;
  margin: 0 30px 30px 0;
  position: relative;
}

.areaImage {
  width: 100%;
  height: 200px;
  background-color: lightgray;
}

.areaEatingConcerns {
  background: url('../res/eatingconcerns.jpg') no-repeat;
  background-size: 100% 140%;
  background-position: left bottom -50px;
}

.areaLifestyle {
  background: url('../res/lifestyle2.jpg') no-repeat;
  background-size: cover;
  background-position: left bottom -65px;
}

.areaMedicalProblems {
  background: url('../res/medicalproblems.jpg') no-repeat;
  background-size: 100% 140%;
  background-position: left;
}

.areaRelationships {
  background: url('../res/relationships.jpg') no-repeat;
  background-size: cover;
  background-position: left bottom -80px;
}

.areaStress {
  background: url('../res/stressmanagement.jpg') no-repeat;
  background-size: cover;
  background-position: left bottom -80px;
}

.areaTransitions {
  background: url('../res/transitions.jpg') no-repeat;
  background-size: cover;
  background-position: left -20px;
}

.areaText {
  font-size: 30px;
  height: 120px;
  max-height: 120px;
}

.areaText div {
  margin-left: 42px;
  margin-top: 12px;
}

.areaOverlay {
  background: transparent;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  width: 230px;
  height: 260px;
  margin: 30px;
}

.services {
  height: 400px;
  background-color: #FBEEC1;
  display: flex;
}

.servicesDescription {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.servicesImage {
  width: 50%;
  background: url('../res/services.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
  .servicesDescription {
    width: 100%;
  }

  .servicesImage {
    width: 0%;
    display: none;
  }

  .hero-content blockquote h1 {
    font-size: 1.75rem;
  }

  .hero-content blockquote footer {
    font-size: 1.25rem;
  }
}

.button {
  display: inline-block;
  border: none;
  border-radius: 2px;
  margin: 0;
  text-decoration: none;
  background: rgba(171, 208, 230, 1);
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: background 200ms ease-in-out, transform 100ms ease;
  -webkit-appearance: none;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button:hover {
  background: rgb(202, 226, 240);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.readMore {
  display: flex;
  justify-content: center;
}

.classes {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  padding: 30px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16);
}


.contact {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact form {
  margin-top: 30px;
}


.group {
  position: relative;
  margin-bottom: 45px;
}

input,
textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #3f4c4e;
  background: transparent;
  color: #3f4c4e;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #3f4c4e;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #FFFFFF;
}

textarea {
  resize: none;
  padding: 0;
}

textarea:focus~label,
textarea:valid~label {
  top: -20px;
  font-size: 14px;
  color: #FFFFFF;
}

/* TODO learn this */

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #3f4c4e;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

/* active state */
textarea:focus~.bar:before,
textarea:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* active state */
textarea:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #3f4c4e;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #3f4c4e;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #3f4c4e;
  }

  to {
    width: 0;
    background: transparent;
  }
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEAE5;
  padding: 20px;
}

#address:before {
  content: '\007C';
  padding: 0 15px
}

#address:after {
  content: '\007C';
  padding: 0 15px;
}

@media screen and (max-width: 776px) {

  .footer {
    flex-direction: column;
    text-align: center;
  }

  #address:before {
    content: none;
    padding: 0
  }
  
  #address:after {
    content: none;
    padding: 0;
  }
}


.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  background: #3f4c4e;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

.link:hover:before,
.link:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/* .navMenu:before {
  bottom: -5px !important;
} */

.contact {
  background: center / cover no-repeat url('../res/succulentBurst.jpg');
}

.moreClasses {
  background: center / cover no-repeat url('../res/pineapple.jpg');
}

.moreResources {
  background: center / cover no-repeat url('../res/resources.jpg');
}

.morePractice {
  background: center / cover no-repeat url('../res/practiceareas.jpg');
}

.moreServices {
  background: center / cover no-repeat url('../res/cornerplant.jpg');
}

.moreDocuments {
  background: center / cover no-repeat url('../res/succulentmat.jpg');

}

.signature {
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
}

.navMenu:hover {
  filter: brightness(1.2);
}

.page-title {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.page-title .title {
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
}

.card {
  background: #F7F7F7;
  border-radius: 2px;
  margin: 50px 15%;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  min-width: 100px;
}

.card-body {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 100px;
  padding: 20px;
}

.card-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px solid #222222;
  height: 100%;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.background {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative;
}


.drawer-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 20;
}

.drawer-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 155px;
  height: calc(100vh - 50px);
  z-index: 100;
  /* transition: all 0.3s ease-in-out; */
  top: 50px;
  position: fixed;
}

.drawer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #EDEAE5;
  justify-content: flex-start;
  box-shadow: 11px 10px 8px 0px rgba(0, 0, 0, 0.25), 10px 0 5px -5px rgba(0, 0, 0, 0);
  transition: none;
}

.drawer+.dark {
  background-color: #C0C3C6;
}

.drawer-button {
  width: 100%;
  height: 40px;
}

.header-nav-button {
  height: 40px;
  width: 100px;
}

.drawer-item {
  display: flex;
}

.drawer-item>div {
  flex: 1;
  padding-bottom: 10px;
}

.header-hamburger {
  cursor: pointer;
}

.header-hamburger:hover * {
  color: #879092;
}

.hide {
  display: none;
}

/* .moreServices h2 {
  text-align: center;
  font-size: 3rem;
  margin: unset;
  font-family: Roboto, sans-serif;
} */